mkdocs==1.2.2
mkdocs-material==7.3.0
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
pymdown-extensions>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability